@import url(./reset.scss);

html {
  font-size: calc(0.4em + 1vw);
  @media screen and (max-width: 780px) {
    font-size: calc(0.6em + 1vw);
  }
  @media screen and (min-width: 1920px) {
    font-size: 27px;
    width: 1920px;
    margin-right: auto;
    margin-left: auto;
  }
}

body {
  background-color: #c8c8c8;
}
